@import "styles/mixins";

.user-profile {
  margin-bottom: 50px;
  display: flex;
  align-items: center;

  &__image-container {
    position: relative;
    width: 147px;
    height: 147px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    font-family: $font-accent;
    font-size: 30px;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 10px;

    // middot между дочерними элементами
    & > *:not(:last-child)::after {
      content: " \00B7  ";
    }
  }

  &__accent {
    font-family: $font-primary;
    color: $color-accent;
    text-transform: lowercase;
    font-weight: 500;
  }

  // Перебиваем стили Link
  & &__link {
    text-decoration: unset;
  }
}
