$font-primary: "Roboto Mono", monospace;
$font-accent: "Rubik", sans-serif;
$color-background: #262a2f;
$color-accent: #f53;
$color-black: #1e2027;
$color-grey: #8a8a8a;
$color-grey-light: #e5e5e5;
$container-width: 1075px;
