@import "styles/mixins";

.user-profile {
  margin-bottom: 50px;
  display: flex;
  align-items: center;

  &__image-container {
    position: relative;
    width: 147px;
    height: 147px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    font-family: $font-accent;
    font-size: 30px;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 10px;
  }

  &__accent {
    font-family: $font-primary;
    color: $color-accent;
    text-transform: lowercase;
    font-weight: 500;
  }
}

.repository-list {
  &__header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__title {
    font-family: $font-accent;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  &__item {
    padding: 16px;
    border: 1px solid $color-grey-light;
    border-radius: 8px;
  }

  &__item-title {
    margin-bottom: 10px;
    font-weight: bold;
  }

  &__item-text {
    font-size: 13px;
  }
}
